* {
    padding: 0;
    margin: 0;
    background: white;
    font-family: sans-serif;

}

body {
    width: 100%;
    height: 100vh;


}

.hd {
    width: 100%;
    height: 200px;
    color: white;
    display: flex;
    align-items: center;
    background: blue;
    flex-direction: column;
    justify-content: center;
    font-size: 30px;


}

.hd,
.conh1,
p {
    background-color: blue;
}

.logohd {
    width: 50%;
    height: 400px;
    border-radius: 50px;

}



.navbar {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}


.list1 {
    width: 100%;
    list-style: none;
    display: flex;
    gap: 100px;
    font-size: xx-large;

}

.navbar.list1,
li,
a {
    text-decoration: none;
    color: white;
    padding: 15px;
    border-radius: 20px;

}

a {
    background-color: blue;
}

a:hover {
    background-color: rgb(35, 35, 116);
}

.dis {
    width: 98%;
    height: 40%;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 10px;

}
.title1{
    font-size: 50px;
    color: blue;
}
.dis.dis1 {
    display: flex;
    flex-direction: column;
    width:30%;

}

.logosc {
    width: 600px;
    height: 400px;

}

.con {
    width: 100%;
    height: 5%;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.conh2 {
    background-color: blue;
}



.body2 {
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}




.c1 {
    width: 20%;
    height: 550px;
    background-color: rgb(163, 163, 163);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    padding: 0;
    margin: 0;


}

.text10 {

    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   font-size: 30px;
    padding: 0;
    margin: 0;

    height: 0;


}

.text1 {

    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    padding: 0;
    margin: 0;

    height: 0;


}

.imgforcon {
    border-radius: 50%;
}

.c1:hover{
    background-color:blue ;
}



.img50{
    border-radius: 50%;
}